/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	padding: 0;
	margin: 0;
	color: #ccc;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.4;
	font-size: 15px;
	background: url('../images/background.jpg') 50% fixed;
	background-size: cover;
}
h1 {
	font-size: 64px;
	text-align: center;
}
h2 {
	font-size: 32px;
}
h1, h2, h3 {
	font-family: 'Sacramento', sans-serif;
	font-weight: normal;
}
section {
	padding: 50px 100px;
}
#about, 
#contact {
	background: rgba(0,0,0,.8);
}



/* PAGE MENU
-----------------------------------------*/
.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	background: #222;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}
.menu li {
	display: inline-block;
	padding: 20px 35px;
}
.menu a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}


/* HEADER 
-----------------------------------------*/
header {
	padding: 110px 0 100px 0;
	color: #ffffff;
	text-align: center;
}
header h1 {
	font-size: 100px;
	margin: 0;
	color: #A8258D;
}


/* ABOUT
-----------------------------------------*/
#about {
	overflow: hidden;
}
.profile {
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 20px;
}


/* FAVOURITES 
-----------------------------------------*/
#favs {
	text-align: center;
	background: black;
}
#favs img {
	border: 1px solid #A8258D;
	border-radius: 50%;
	padding: 2px;
	width: 200px;
	margin: 0 15px;
}


/* CONTACT 
-----------------------------------------*/
#contact {
	text-align: center;
}
#contact img {
	margin: 20px;
}

