/* Styles specific to this workshop
------------------------------------*/
.slide.intro {
  background: linear-gradient(rgba($black, 0.7),
              rgba($black, 0.7)), 
              url(../img/banner-home2.jpg) no-repeat;
  background-size: cover;
}

/* A Basic Web Page */
.basic-web-page {
	.css {
		color: #27ae60;
		font-weight: bold;

		span {
			font-style: italic;
		}
	}
}
.hljs-comment {
  font-style: normal;
}